.apropos-body {
    max-width: 1440px;
}
.apropos-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1180px;
    height: 220px;
    border-radius: 25px;
    margin-left: 10%;
    margin-right: 10%;
    background-image: url('../assets/background-section-apropos.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.apropos-section-margin {
    margin-bottom: 40px;
}
.apropos-collapse {
    margin-left: 20%;
    margin-right: 20%;
}