.apropos-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 220px;
    border-radius: 25px;
    margin-left: 10%;
    margin-right: 10%;
    background-image: url('../assets/background-section-apropos.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* 
    Faire le slider avec la boite + le texte en dessous
    PUIS faire une animation qui fait tourner la fléche
    pour changer sa direction et qui déplace la box de 
    façon à ce qu'on ne la voie plus.
 */
