.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.error-404 {
    color: #FF6060;
    font-size: 250px;
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.error-oups {
    font-weight: 100;
    color: #FF6060;
}

.error-link {
    margin-top: 150px;
    color: #FF6060;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #FF6060;
}

@media screen and (max-width: 775px) {
    .error-404 {
        font-size: 30vw;
    }
    .error-oups {
        font-size: 5vw;
        font-family: Montserrat-light;
        text-align: center;
        max-width: 80%;
    }
    .error-link {
        font-size: 3.5vw;
        font-family: Montserrat-light;
        margin-top: 70px;
    }
  }