.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #000000;
    color: #ffff;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 100px;
}

.footer-logo {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 30px;
    width: 20%;
    max-width: 125px;
    min-width: 125px;
}

.footer-trademark {
    display: flex;
    justify-content: center;
}
.footer-trademark-text{
    font-size: 1.2rem;
}


@media screen and (max-width: 775px) {
    .footer {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 50px;
    }
    .footer-logo {
        margin-bottom: 15px;
        max-width: 125px;
        min-width: 125px;
    }
    .footer-trademark-text{
        font-size: 0.9rem;
        font-family: Montserrat-light;
    }
}